$roboto-font-path : '../fonts/roboto-fontface';
@import "../../node_modules/roboto-fontface/css/roboto-fontface";
@import "../../node_modules/normalize.css/normalize";
@import "variables";
@import "base";

body{
	overflow-y	: scroll;
}
.clearfix {
    clear: both;
}
.outerLayer{
	position: relative;
	margin: 20px auto;
	max-width: 800px;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
	padding: 10px 16px;
}
.aboutButtonWrapper{
	position: relative;
	margin: 20px auto 0;
	max-width: 800px;
	text-align: center;
}
.aboutButton{
	text-transform: uppercase;
	color: #fff;
	padding: 12px 24px;
	background: #2196F3;
	border-radius: 3px;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
}

.allTilesWrapper{
	position: relative;
	transition: all ease-in 600ms;
}
.ProfTile{
	padding: 6px 0;
	position: absolute;
	left: 0;
	transition: all ease 500ms;
	height: 48px;
	overflow: hidden;
}
.plusOne{
	height: 36px;
	width: 36px;
	border-radius: 50%;
	display: inline-block;
	line-height: 36px;
	text-align: center;
	background-color: #eee;
	color: #444;
	margin-right: 12px;
	margin-left: 2px;
	cursor: pointer;
	&.myVote{
		background-color: #db4437;
		background-color: #2196F3;
		box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2);
		color: #fff;
	}
}
.votesCount{
	margin-right: 12px;
	color: #777; 
}
.dept{
	font-size: 12px;
}
.searchBox{
	border: none;
    width: 100%;
    line-height: 33px;
    margin: 6px 0;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.12),0 1px 1px 0 rgba(0,0,0,.06),0 2px 1px -1px rgba(0,0,0,.06);
    background: #fafafa;
    padding: 2px 24px;
    outline: none;
    font-size: 14px;
}
.showAll{
	padding: 8px;
	text-align: center;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,0.12),0 1px 1px 0 rgba(0,0,0,0.06),0 2px 1px -1px rgba(0,0,0,0.06);
	background: #fafafa;
	max-width: 400px;
	margin: 0 auto 2px;
	cursor: pointer;
}
.divider{
	margin: 12px 0;
	border-top: solid 1px #eee;
	width: auto;
	content: ' ';
}
.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: background-color ease 300ms,opacity ease 300ms;
	z-index: 5;
	overflow-y: scroll;
	background: rgba(255, 255, 255, 0.89);
}
.popup-inner{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.popup-innerBox{
	position: relative;
    max-width: 600px;
    border-radius: 0px;
    transition: all ease 400ms;
    overflow: auto;
    margin: 20px 0;
    background: #f7f7f7;
    padding: 24px;
    box-shadow: 0 0px 4px 0 rgba(0,0,0,0.14);
}
.popup-closeButton{
	position: absolute;
	top: 0;
	right: 0;
	height: 50px;
	width: 50px;
	padding-top: 13px;
	padding-left: 6px;
	background: #fafafa;
	overflow: hidden;
	cursor: pointer;
}
.margin-left{
	margin-left: 12px;
}