@import "bourbon/bourbon";
body{
	margin: 0;
	background: #fafafa;
}
*,*:after,*:before{
	box-sizing: border-box;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
 }
.clearfix { display: inline-block; }
.float-left{
	float: left;
}
.loadingSpinner{
	border: 2px solid #4285f4;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
	border-color: white;
    border-top-color: transparent;
    display: inline-block;
    height: 16px;
    margin-right: 12px;
    vertical-align: middle;
    width: 16px;
}
.float-right{
	float: right;
}
.gray-color{
	color: grey;
}
.bold{
	font-weight: bold;
}
@include keyframes(spin) {
  from {
    @include transform(rotate(0));
  }
  to {
    @include transform(rotate(360deg));
  }
}