#bToast{
	z-index: 1000;
	position: fixed;
}
.b-toast{
	position: fixed;
	bottom: 24px;
	left: 24px;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
	line-height: 20px;
	background: #404040;
	color: #fff;
	padding: 16px;
	transition: all ease 400ms;
	z-index: 5;
}
.b-toast.go-down{
	bottom: -80px;
}