@import "./bourbon/bourbon";
@import "./base";
@import "materialize-update";
body{
	 background-color:#fafafa;
	 color: #333;
	 font-family: roboto;
}
.popup-material{
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: background-color ease 300ms,opacity ease 300ms;
	z-index: 5;
	overflow-y: scroll;
}
.popup-material-inner{
	position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.popup-material-innerBox{
	position: relative;
    max-width: 800px;
    border-radius: 4px;
    transition: all ease 400ms;
    overflow: auto;
    margin: 20px auto;
}
.logo{
	font-size: 30px;
	text-align: center;
	color: #e51c23;
}
.tagline{
	margin: 12px;
	text-align:center;
}
.form-container{
	background-color:#fff;
	border: 1px solid #f8f8f8;
	border-radius: 3px;
	padding: 22px;
	&:after,&:before{
		display: table;
		content: "";
		zoom: 1;
	}
	&:after{
		clear: both;
	}
}
.form{
	float: left;
	width: 50%;
	&.form-signup,&.form-login{
		input{
			line-height: normal;
			padding: 7px 12px;
			border: solid 1px #e0e0e0;
			height: auto;
			width: 260px;
			border-radius: 3px;
			&:focus{
				background-color: #fff;
				box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
				border-color: #51a7e8;
			}
		}
		label{
			display:inline-block;
			&.untouched{
				display:none;
				// visibility: hidden;
				&.visible{
					display: inline-block;
				}
			}
		}
		.login{
			background-color: #3e78ad;
			border: solid 1px #3e78ad;
			padding: 4px 15px;
			border-radius: 3px;
			color: #fff;
		}
	}
}
.form-title{
	font-weight: bold;
}
.form-signup{
	padding-left: 32px;
}
.form-login{
	padding-right: 32px;
}