@import "./base";
$image-h: 40px;
$margin: 12px;
body{
	background-color: #f0f0f0;
}
[data_force_hide=true]{
	display: none !important;
}
a{
	color: inherit;
	text-decoration: none;
}
.index{
	margin: $margin 0;
	.name-first-char{
		display: block;
		width: 100%;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 30px;
		margin-top: 12px;
	}
	.profile-link-container{
		width: 32%;
		display: inline-block;
	}
	a{
		color: #2196f3;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}
.capitalize{
	text-transform: capitalize;
}
.all-comment-container{
	position: relative;
	width: 900px  + 2*$margin ;
	display: block;
	margin: auto;
	padding: $margin;
}
.person-data-container{
	position: relative;
	padding: $margin 0;
	border-top: solid 1px #aaa;
	.profile-container{
		background: #fff;
		padding: 12px;
		border-radius: 4px;
		width: 100%;
		@include display(flex);
		@include flex-direction(row);
		@include justify-content(flex-start);
		@extend .clearfix;
		.avatar-container{
			$h: 200px;
			width: $h;
			display: inline-block;
			@extend .clearfix;
			// float: left;
			margin-right: $margin;

			.avatar{
				height: $h;
				width: $h;
				float: left;
				border-radius: 4px;
			}
		}
		.profile-detail-container{
			// color: #346894;
			// float: left;
			.colorfull{
				color: #346894;
			}
			.name{
				font-weight: bold;
			}
			.aboutme{
				margin-top: $margin;
			}
		}
	}
}
.image-owner-target-comment-container{
	background-color: #fff;
	padding: $margin;
	margin: $margin 0;
	border-radius: 4px;
	color: #333;
	.image-owner-target-container{
		position: relative;
		line-height: $image-h;
		@extend .clearfix;
		.image-container{
			float: left;
			margin-right: $margin;
			.owner-image{
				float: left;
				position: relative;
				display: inline-block;
				width: $image-h;
				height: $image-h;
				border-radius: 50%;
				border: none;
			}
		}
		.owner-name{
			float: left;
			display: inline-block;
			// margin-right: $margin;
		}
		.arrow-container{
			position: relative;
			float: left;
			.arrow{
				float: left;
				height: 24px;
				margin-top: #{$image-h/2 - 12px};
				opacity: 0.65;
			}
		}
		.target-name{
			float: left;
			display: inline-block;
			margin-right: $margin;
		}
	}
}