body {
  margin: 0;
  background: #fafafa; }

*, *:after, *:before {
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

.float-left {
  float: left; }

.loadingSpinner {
  border: 2px solid #4285f4;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 1.1s infinite linear;
  animation: spin 1.1s infinite linear;
  border-color: white;
  border-top-color: transparent;
  display: inline-block;
  height: 16px;
  margin-right: 12px;
  vertical-align: middle;
  width: 16px; }

.float-right {
  float: right; }

.gray-color {
  color: grey; }

.bold {
  font-weight: bold; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

/*# sourceMappingURL=common.css.map */
