body {
  margin: 0;
  background: #fafafa; }

*, *:after, *:before {
  box-sizing: border-box; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.clearfix {
  display: inline-block; }

.float-left {
  float: left; }

.loadingSpinner {
  border: 2px solid #4285f4;
  border-top-color: transparent;
  border-radius: 50%;
  -webkit-animation: spin 1.1s infinite linear;
  animation: spin 1.1s infinite linear;
  border-color: white;
  border-top-color: transparent;
  display: inline-block;
  height: 16px;
  margin-right: 12px;
  vertical-align: middle;
  width: 16px; }

.float-right {
  float: right; }

.gray-color {
  color: grey; }

.bold {
  font-weight: bold; }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0); }
  to {
    -moz-transform: rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
    transform: rotate(0); }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
#bToast {
  z-index: 1000;
  position: fixed; }

.b-toast {
  position: fixed;
  bottom: 24px;
  left: 24px;
  border-radius: 3px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
  line-height: 20px;
  background: #404040;
  color: #fff;
  padding: 16px;
  transition: all ease 400ms;
  z-index: 5; }

.b-toast.go-down {
  bottom: -80px; }

body {
  background-color: #fafafa;
  color: #333;
  font-family: roboto; }

.popup-material {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: background-color ease 300ms,opacity ease 300ms;
  z-index: 5;
  overflow-y: scroll; }

.popup-material-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh; }

.popup-material-innerBox {
  position: relative;
  max-width: 800px;
  border-radius: 4px;
  transition: all ease 400ms;
  overflow: auto;
  margin: 20px auto; }

.logo {
  font-size: 30px;
  text-align: center;
  color: #e51c23; }

.tagline {
  margin: 12px;
  text-align: center; }

.form-container {
  background-color: #fff;
  border: 1px solid #f8f8f8;
  border-radius: 3px;
  padding: 22px; }
  .form-container:after, .form-container:before {
    display: table;
    content: "";
    zoom: 1; }
  .form-container:after {
    clear: both; }

.form {
  float: left;
  width: 50%; }
  .form.form-signup input, .form.form-login input {
    line-height: normal;
    padding: 7px 12px;
    border: solid 1px #e0e0e0;
    height: auto;
    width: 260px;
    border-radius: 3px; }
    .form.form-signup input:focus, .form.form-login input:focus {
      background-color: #fff;
      box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(81, 167, 232, 0.5);
      border-color: #51a7e8; }
  .form.form-signup label, .form.form-login label {
    display: inline-block; }
    .form.form-signup label.untouched, .form.form-login label.untouched {
      display: none; }
      .form.form-signup label.untouched.visible, .form.form-login label.untouched.visible {
        display: inline-block; }
  .form.form-signup .login, .form.form-login .login {
    background-color: #3e78ad;
    border: solid 1px #3e78ad;
    padding: 4px 15px;
    border-radius: 3px;
    color: #fff; }

.form-title {
  font-weight: bold; }

.form-signup {
  padding-left: 32px; }

.form-login {
  padding-right: 32px; }

/*# sourceMappingURL=home.css.map */
