body{
	margin: 0;
	background: #fafafa;
}
*,*:after,*:before{
	box-sizing: border-box;
}
input,input[type=text]{
	/*border-bottom: 1px solid #26a69a;*/
	box-shadow: none;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
.float-left{
	float: left;
}
.loadingSpinner{
	border: 2px solid #4285f4;
    border-top-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin 1.1s infinite linear;
    animation: spin 1.1s infinite linear;
	border-color: white;
    border-top-color: transparent;
    display: inline-block;
    height: 16px;
    margin-right: 12px;
    vertical-align: middle;
    width: 16px;
}
.float-right{
	float: right;
}
.gray-color{
	color: grey;
}
.bold{
	font-weight: bold;
}
nav{
	position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    height: 56px;
    line-height: 56px;
    width: 100%;
}
.container{
	padding-top: 56px;
}
.b-toast{
	position: fixed;
	bottom: 24px;
	left: 24px;
	border-radius: 3px;
	box-shadow: 0 0 2px rgba(0,0,0,.12),0 2px 4px rgba(0,0,0,.24);
	line-height: 20px;
	background: #404040;
	color: #fff;
	padding: 16px;
	transition: all ease 400ms;
}
.b-toast.go-down{
	bottom: -80px;
}

.write_about{
	position: relative;
	border: solid 1px #e0e0e0;
}
.comment{
	position: relative;
	padding: 10px;
	margin: 10px 10px 0 0;
	background: #fff;
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.14);
}
.comment-name{
	font-weight: bold;
	padding: 3px 10px;
	color: #313131;
}
.comment-name:hover{
	text-decoration: underline;
}
.dp-uploader{
	opacity: 0;
	transition: all ease 400ms;
	cursor: pointer;
	overflow: hidden;
	position: absolute;
	height: 40px;
	width: 40px;
	color: #fff;
	top: 60px;
	left: 110px;
	background: rgba(0,0,0,0.5);
	line-height: 40px;
	border-radius: 50%;
	font-size: 20px;
	cursor: pointer;
}
.dp-uploader-input{
	opacity: 0;
	height: 200%;
	width: 200%;
	top: 0;
	left: 0;
	position: absolute;
	cursor: pointer;
}
.avatar-container:hover .dp-uploader{
	opacity: 1;
}
.avatar{
	transition: all ease 300ms;
	border-radius: 50%;
}
.profile-link{
	line-height: 40px;
}
.medium-profile-link{
	line-height: 80px;
}
.profile-image{
	float: left;
}
.profile-name{
	padding: 0 10px;
	/*float: left;*/
}
.search-person-property{
	padding: 5px 12px 5px 30px;
}
.small-avatar{
	width: 40px;
	height: 40px;
}
.medium-avatar{
	width: 80px;
	height: 80px;
}
.square-avatar{
	border-radius: 0;
}
.avatar-container:hover{
	opacity: 0.9;
}
.comment-options{
	padding: 5px 0 2px;
    margin-top: 12px;
}
.comment-text{
	padding: 3px 10px;
}
.comment-Choose{
	position: relative;
	/*right: 5px;*/
	/*top: 5px;*/
	cursor: pointer;
	background-color: #2196F3;
	color: #fff;
	/*padding: 5px 15px;*/
	border-radius: 3px;
}
.comment-Remove{
	position: relative;
	cursor: pointer;
	background-color: #2196F3;
	color: #fff;
	/*padding: 5px 15px;*/
	border-radius: 3px;
}
.comment-Choose:hover,.comment-Remove:hover{
	background-color: #279ef9;
	/*#2bbbad #26a69a;*/
}
.comment-Delete{
	position: relative;
	margin-left: 10px;
	background-color: #F44336;
	color: #fff;
	/*padding: 5px 15px;*/
	border-radius: 3px;
	cursor: pointer;
}
.comment-Delete:hover{
	background-color: #fe493a;
} 
.profile-update-options{
	display: block;
    margin-top: 5px;
    width: 100%;
}
.crop-and-save{
	padding: 7px 10px;
    margin-top: 0;
    display: inline-block;
    background: #3F51B5;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}
.cancel-crop{
	padding: 7px 10px;
	color: #313131;
	border: solid 1px #999;
	background: #fafafa;
	border-radius: 3px;
	font-weight: bold;
	margin-left: 28px;
	cursor: pointer;
}

.search-box{
	position: relative;
	margin-top: 12px;
}
.search-box .search-input, .search-box .search-input:focus{
	border: solid 1px #e0e0e0 !important;
	box-shadow: none;
	border-radius: 100px;
	line-height: 20px;
	padding: 15px 30px;
	height: auto;
	background: #fff;
	display: block;
	box-sizing: border-box;
}
.search-tile{
	display: block;
	margin-bottom: 12px;
	background: #fff;
	box-shadow: 0 0 1px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.04);
	padding: 12px 12px;
}
.bform{
	background: #fff;
	padding: 12px;
	margin: 0 0 12px 0;
	border: 1px solid #d8d8d8;
}
.bform input, .bform input[type=text], .bform textarea, .bform textarea[type=text]{
	box-sizing: border-box;
	width: 440px;
    max-width: 100%;
    margin-right: 5px;
    background-color: #fafafa !important;
    border: solid;
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}
.bform input[type=text]:focus:not([readonly]){
	background: #fff !important;
	box-shadow: inset 0 1px 2px rgba(0,0,0,0.075),0 0 5px rgba(81,167,232,0.5);
	border-color: #51a7e8;
}
.msg{
	position: relative;
    padding: 15px;
    font-size: 14px;
    line-height: 1.5;
    color: #246;
    background-color: #e2eef9;
    border: 1px solid #bac6d3;
    border-radius: 0;
    margin-bottom: 0px;
}
.form-title{
	display: block;
	padding: 9px 10px 10px;
	margin: 0;
	font-size: 14px;
	line-height: 17px;
	background-color: #f5f5f5;
	border: 1px solid #d8d8d8;
	border-bottom: 0;
	border-radius: 3px 3px 0 0;
	margin-top: 12px;
}