$spacer: 6px !default;
$spacers: (
  0,
  round($spacer / 2),
  $spacer,
  $spacer * 2,
  $spacer * 4,
  $spacer * 6,
  $spacer * 8
) !default;

// ---- Colors ----

// Brand
$blue:              #4078c0 !default;
$gray-dark:         #333    !default;
$gray-light:        #999    !default;
$gray:              #767676 !default;
$green:             #6cc644 !default;
$orange:            #c9510c !default;
$purple:            #6e5494 !default;
$red:               #bd2c00 !default;
$white:             #fff !default;

// State indicators.
$status-renamed:    #fffa5d !default;
$status-pending:    #cea61b !default;

// Repository type colors
$repo-private-text: #4c4a42 !default;
$repo-private-bg:   #fff9ea !default;
$repo-private-icon: #e9dba5 !default;

// Alerts
$flash-border-blue: #bac6d3 !default;
$flash-bg-blue: #e2eef9 !default;
$flash-text-blue: #246 !default;

$flash-border-yellow: #dfd8c2 !default;
$flash-bg-yellow: #fff9ea !default;
$flash-text-yellow: #4c4a42 !default;

$flash-border-red: #d2b2b2 !default;
$flash-bg-red:     #fcdede !default;
$flash-text-red:   #911 !default;

// Border colors
$border-blue:       #c5d5dd !default;
$border-gray-dark:  #ddd !default;
$border-gray-light: #eee !default;
$border-gray:       #e5e5e5 !default;

// Background colors
$bg-blue-light:     #f2f8fa !default;
$bg-blue:           $blue !default;
$bg-gray-dark:      $gray-dark !default;
$bg-gray-light:     #fafafa !default;
$bg-gray:           #f5f5f5 !default;
$bg-green:          $green !default;
$bg-orange:         $orange !default;
$bg-purple:         $purple !default;
$bg-red:            $red !default;
$bg-white:          $white !default;

// Text colors
$text-blue:         $blue !default;
$text-gray-dark:    $gray-dark !default;
$text-gray-light:   $gray-light !default;
$text-gray:         $gray !default;
$text-green:        darken($green, 10%) !default;
$text-orange:       $orange !default;
$text-purple:       $purple !default;
$text-red:          $red !default;
$text-white:        $white !default;

// Border size
$border-width: 1px !default;
$border-color: $border-gray !default;
$border-style: solid !default;
$border: $border-width $border-color $border-style !default;
$border-radius: 3px !default;

// Font stacks

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;

// The base body size
$body-font-size: 13px !default;