@import "mixins";
@import "variables";
@import "utilities/borders";
@import "utilities/paddings";
@import "utilities/margins";
@import "utilities/positions";
@import "utilities/displays";
@import "utilities/colors";

.add-button-parent{
	.add-button{
		background: transparent;
		color: transparent;
	}
	&:hover{
		.add-button{
			background:#f44336;
			color: #fff;
		}
	}
}